.git
.idea

serial_notifier/.DS_Store
serial_notifier/.pytest_cache
serial_notifier/.env
serial_notifier/.env.example
serial_notifier/volumes/
serial_notifier/venv

services/tg_bot/.idea
services/tg_bot/.DS_Store
services/tg_bot/.pytest_cache
services/tg_bot/.env
services/tg_bot/.env.example
services/tg_bot/venv
services/tg_bot/temp.py

libs/*/.idea
libs/*/.DS_Store
libs/*/.pytest_cache
libs/*/*egg-info
libs/*/venv
