[flake8]
exclude =
    .git,
    .idea,
    venv,
    __pycache__,
    .pytest_cache,
    volumes,
    tests
ignore =
    E501,
    # Отключено для совместимости с black
    I100
    I101,
    E203
application_import_names=bot
max-complexity = 10
import-order-style = edited
